@import '../settings';

.footer {
  background-color: $footer-color;
  padding: 1em;

  .copyright {
    font-size: 1.2em;
    font-style: italic;
    text-align: right;
  }
}

.footer--sticky {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  max-width: $site-max-width;
}
