@import '../settings';

.content {
  background-color: $content-color;
  padding: 1em;

  &.with-footer-sticky {
    // This is required if footer sticky on top.
    margin-bottom: 2em;
  }

  .title {
    font-size: 2em;
    font-weight: bold;
    margin: 0.5em auto 0.5em auto;
  }
  .body {
    line-height: 1.2;
    text-align: justify;
  }
}
