@import '../settings';
@import '../mixins/flexbox';

.layout--site,
.layout--header,
.layout--main {
  @include flexbox(100%);
}

.layout--site {
  @include flex-direction(column);
  max-width: $site-max-width;
  margin: auto;
}

.layout--main {
  @include flex-direction(column);
  @include bk(medium) {
    @include flex-direction(row);
  }
}

.layout--header {
  @include align-items(center);
  @include justify-content(center);
  @include flex-direction(column);
  
  @include bk(medium) {
    @include flex-direction(row);
  }
  
  .logo {
    @include bk(medium) {
      @include flex(1 1 $site-sidebar-width);  
      width: $site-sidebar-width;
    }
  }
  .slogan {
    @include bk(medium) {
      @include flex(1 1 $site-content-width);
      width: $site-content-width;    
    }
  }
}

// Push the sidebar to the left.
.layout--sidebar-left {
  .layout--sidebar {
    @include bk(medium) {    
      @include flex(1 1 $site-sidebar-width);  
      width: $site-sidebar-width;
      order: 1;
    }
  }
  .layout--content {
    @include bk(medium) {    
      @include flex(1 1 $site-content-width);
      width: $site-content-width;
      order: 2;
    }
  }
}

// Push the sidebar to the left.
.layout--with-footer-sticky {
  margin-bottom: $site-offset-sticky-footer;
}
